.App {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
}

.messages {
  height: 60%;
  overflow-y: scroll;
  padding: 0 20px;

  margin: 10% auto 0 auto;
  width: 80%
}

.messageForm {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.messageForm form {
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns: input takes available space, button fits content */
  gap: 10px; /* Space between input and button */
  max-width: 600px; /* Optional: limit the maximum width of the form */
  width: 100%; /* Optional: make the form take up the full width of the container */
}

.messageInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.messageButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}

.messageHeader {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 10px;
}